.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.heading {
  text-align: center;
  padding: 2%;
  width: 100%;
  background-color: #472d5b;
}

.commentsWrapper {
  background-color: rgb(241, 241, 241);
  padding: 2%;
}

@media (max-width: 500px) {
  .info {
    width: 100%;
  }
}
