.homeContainer {
  margin: 0 auto;

}

.header {
  padding-top: 0.5rem;
}

.homeContent {
  max-height: 90vh;
  overflow: scroll;
  background-color: white;
  // overflow-y: hidden;
}

.userSidebar {
  height: 90vh;
}

.userInfoContent {
  padding: 2%;
}
